<h1><b>Our Story</b></h1>
<h3 style="color:#34495e"><i>Our mission is to simplify “pet” for parents and care providers alike.</i></h3>
<br>
<p>We are starting with pet care providers - finding a solution that increases profitability and enhances your ability to scale as a business. As a pet care provider, you might handle 30-50 dogs a day. We understand that there is no solution out there today that helps you with managing your clients and your calendar. You might be using Google or Outlook, Excel, or even pen and paper. You  might have thought about the need to employ a full-time personal assistant, but that incremental cost may be too high. We want to provide a business solution that can automate and streamline administrative processes for care providers at a much lower cost. Realizing that we can only focus on one thing at a time, we've decided to start with instant online appointment booking or a basic cloud client relationship management system.</p> 
<br>

<div class="jumbotron">
<p style="font-weight:bold;font-size:18px">To the dog walkers of the world: Of the products below, which do you need the most?</p>

<form class="form-horizontal" role="form">
  <div class="form-group">

		<div class="radio">
  		<label>
    		<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    		<p style="color:#3498db;font-weight:bold;font-size:14px">Instant online appointment booking.</p> Your clients would be able to instantly book appointments with you online or via their mobile phone. We would also provide you with a calendar management system that allows you to view and edit your daily and weekly dog walking schedule.
  		</label>
		</div><!-- /radio-->

		<div class="radio">
 		 	<label>
   	 		<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    		<p style="color:#3498db;font-weight:bold;font-size:14px">Client management tools.</p> You would be able to 1) search and view client profiles, which would include appointment history, payment tracking, and client instant messenger; and 2) search and view pet profiles, which would include information related to the pet's medical history, personality, habits and obedience  
  		</label>
		</div><!-- /radio-->

		<div class="radio">
  		<label>
    		<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
    		<p style="color:#3498db;font-weight:bold;font-size:14px">Other</p>
  		</label>
  	</div><!-- /radio-->	
  </div><!-- /form-group-->

  <button type="submit" class="btn btn-default btn-lg">submit</button>
</form>

<br>

<p style="font-weight:bold;font-size:16px">We'd appreciate your feedback!</p>

 </div><!-- /jumbotron-->