<div class="jumbotron center">
<h2><b>Are you a dog walker struggling to manage your schedule on Google calendar, Notepad, or simply pen and paper? </b></h2>
<br>
<br>
<p>We are working on building an intuitive online appointment booking tool that will simplify and automate this task so that you can focus on the important things. Drop us your e-mail to learn more! </p>

<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control input-lg" id="exampleInputEmail2" placeholder="enter e-mail address">
  </div><!-- /form-group -->
	<button type="submit" class="btn btn-default btn-lg">submit</button>
</form>

</div><!-- /jumbotron -->